*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

a{
    text-decoration: none;
}

.color {
    color: #009688;
}


/* -------------------------- header Start -------------------------- */

/*------------- Header Top -------------*/
.header-top{
    width: 100%;
    height: 170px;
    padding: 0 30px ;
}

.header-top__logo{
    width: 150px;
    height: 150px;
    float: left;
    background-color: rgb(184, 184, 184);
    text-align: center;
    margin-top: 10px;
    border: 2px solid #ffffff;
    border-radius:145px ;
    -webkit-border-radius:145px ;
    -moz-border-radius:145px ;
    -ms-border-radius:145px ;
    -o-border-radius:145px ;
    position: relative;
    z-index: 1;
}

.header-top__logo:hover{
    border: 2px solid #009688;
}

.header-top__logo a img{
    margin-top: 16px;
    width: 80%;
    height: 80%;
}

.header-top__icons-box{
    width: 350px;
    height: 50px;
    float: left;
    text-align: right;
    margin-top: 106px;
    background-color: rgb(184, 184, 184);
    margin-left: -80px;
    border: 2px solid #ffffff;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}

.header-top__icons-box:hover{
    border: 2px solid #009688;
}

.header-top__icons-box a i{
    margin-top: 13px;
    margin-right: 15px;
    font-size: 20px;
    color: black;
}

.header-top__login-box{
    width: 60px;
    height: 50px;
    float: right;
    text-align: center;
    margin-top: 103px;
    background-color: rgb(184, 184, 184);
    margin-left: -80px;
    border: 2px solid #ffffff;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}

.header-top__login-box:hover{
    border: 2px solid #009688;
}

.header-top__login-box a i{
    margin-top: 11px;
    font-size: 25px;
    color: black;
}

.fa-instagram-square:hover{
    color: rgb(167, 21, 211);
}
.fa-facebook-square:hover{
    color: rgb(59, 33, 206);
}
.fa-behance-square:hover{
    color: rgb(255, 255, 255);
}
.fa-twitter-square:hover{
    color: rgb(8, 103, 226);
}
.fa-vimeo:hover{
    color: rgb(21, 211, 116);
}
.fa-vk:hover{
    color: rgb(211, 208, 21);
}

/* sing in icon  */

.fa-sign-in-alt:hover{
    color: #009688;
}



/* ------------- Header bottom -------------*/

.header-bottom{
    z-index: 6;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #040F59;
    padding: 0 30px;
}

nav{
    width: 70%;
    height: 60px;
    float: left;
    /* background-color: chartreuse; */
}

nav ul{
    margin-top: 16px;
}
nav ul li{
    display: inline;
    padding: 2px;
    margin-right: 3px;    
    /* background-color: cornflowerblue; */    
}
nav ul li a{
    color: rgb(255, 255, 255);
}

nav ul li a:hover{
    color: rgb(134, 134, 134);
}

.active{
    padding: 2px;
    border-bottom: 2px solid #009688;
}

.header-bottom__search{
    width: 20%;
    height: 50px;
    float: right;
    /* background-color: rgb(230, 11, 11); */
}

.header-bottom__search input{
    width: 80%;
    height: 30px;
    border: none;
    padding-left: 10px;
    margin-top: 10px;
    float: left;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.header-bottom__search input:checked{
    border: none;
}

.header-bottom__search input:focus {
    outline: none;
}

.header-bottom__search button{
    width: 20%;
    height: 50px;
    border: none;
    float: left;
    text-align: left;
    padding-left:7px ;
    background-color: #040F59;
    color: aliceblue;
    /* background-color: rgb(1, 250, 167); */
}

.header-bottom__search button:hover{
    color: #009688;
}

.header-bottom__search button i{
    font-size: 22px ;
}


/* header End */

/* -------------------------- section Start  -------------------------- */

/* ------------- Video-content Start -------------*/
.video-container{
    margin: 30px auto 30px auto;
    margin-top: 10px;
    width: 80%;
    height: 570px;
    position: relative;
    z-index: 3;
    /* background-color: #009688; */
}

.video{
    position: absolute;
    width: 100%;
    height: 100%;
    border: aquamarine 2px solid;
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;
}
.video-content{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 120px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;
}

.video-icons-content{
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 40px;
    text-align: center;
    padding: 40px;
    /* background: rgba(231, 85, 85, 0.5); */
}



.video-icons-content i{
    font-size: 35px;
    float: right;
    /* padding: 15px; */
    color: aquamarine;
    margin-left: 20px;
}

.video-icons-content i:hover{
    font-size: 45px;
    margin-left: 30px;
    margin-bottom: 10px;
    color: rgb(1, 250, 167);
}



/* ------------- Video-content End -------------*/









/* section End */


/* -------------------------- footer Start  -------------------------- */

/* ------------- Icon-goes-up Start -------------*/
.icon-goes-up{
    display: none;
    position: fixed;
    bottom: 17px;
    right: 10px;
    z-index: 5;
}

.icon-goes-up i{
    font-size: 40px;
    color: rgb(131, 134, 134);
}

.icon-goes-up i:hover{
    font-size: 40px;
    color: teal;
}


/* ------------- Icon-goes-up End -------------*/


.footer-bottom {
    position: relative;
    bottom: 0;
}

.block-wall {
    width: 100%;
    height: 8px;
    background-color: #040F59;
}


.block {
    position: relative;
    left: 0;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 75px;
    text-align: center;
    color: white;
    font-size: 9px;
}

.namn {
    padding-top: 12px;
}

.plus {
    font-size: 14px;
}

.sajjan {
    color: rgb(122, 122, 122);
    font-size: 10px; 
}

.sajjan:hover {
    color: white;
    transition: 0.25s;
}


/* footer End */

