*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

a{
    text-decoration: none;
}

/* body{
    color: rgb(236, 16, 16);
} */
/* h1,
h2,
h3,
h4,
h5{
    font-family: "Raleway", Helvetica, sans-serif;
} */


/* -------------------------- header Start -------------------------- */


/*------------- Header Top -------------*/
.header-top{
    width: 100%;
    height: 200px;
    padding: 0 30px;
}

.header-top__logo{
    width: 224px;
    height: 57px;
    float: left;
    margin-top: 100px;
}

.header-top__logo a img{
    width: 224px;
    height: 57px;
}

.header-top__icons-box{
    width: 400px;
    height: 57px;
    float: right;
    text-align: right;
    margin-top: 100px;
    /* background-color: chartreuse; */
}

.header-top__icons-box a i{
    margin-top: 19px;
    margin-left: 10px;
    font-size: 20px;
    color: black;
}

.fa-instagram-square:hover{
    color: rgb(167, 21, 211);
}
.fa-facebook-square:hover{
    color: rgb(59, 33, 206);
}
.fa-behance-square:hover{
    color: rgb(255, 255, 255);
}
.fa-twitter-square:hover{
    color: rgb(8, 103, 226);
}
.fa-vimeo:hover{
    color: rgb(21, 211, 116);
}
.fa-vk:hover{
    color: rgb(211, 208, 21);
}

/* sing in icon  */
.fa-sign-in-alt{
    margin-left: 30px !important;
    color: black;
    font-size: 25px !important;
}

.fa-sign-in-alt:hover{
    color: cornsilk;
}


/* ------------- Header bottom -------------*/

.header-bottom{
    z-index: 6;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #040F59;
    padding: 0 30px;
}

nav{
    width: 70%;
    height: 80px;
    float: left;
    /* background-color: chartreuse; */
}

nav ul{
    margin-top: 30px;

}
nav ul li{
    display: inline;
    padding: 0 10px;
    /* background-color: cornflowerblue; */

}
nav ul li a{
    font-size: 24px;
    color: rgb(255, 255, 255);
}

nav ul li a:hover{
    color: rgb(134, 134, 134);
}

.active{
    color: rgb(134, 134, 134);
}

.header-bottom__search{
    width: 30%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    float: right;
    margin-top: 23px;
}

.header-bottom__search input{
    width: 85%;
    height: 30px;
    border: none;
    display: inline-block;
    margin-left: 5px;
}


.header-bottom__search input:checked{
    border: none;
}

.header-bottom__search input:focus {
    outline: none;
}

.header-bottom__search div{
    display: inline-block;
    margin-top: 10px;
}
.fa-search{
    font-size: 22px ;
    display: inline-block;
}

/* header End */

/* -------------------------- section Start  -------------------------- */

/* ------------- Video-content Start -------------*/
.video-container{
    z-index: 3;
    margin: 30px auto 30px auto;
    margin-top: 10px;
    width: 80%;
    height: 570px;
    position: relative;
    /* background-color: #009688; */
}

.video{
    position: absolute;
    width: 100%;
    height: 100%;
    border: aquamarine 2px solid;
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;
}
.video-content{
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 40px;
    /* background: rgba(231, 85, 85, 0.5); */
}

.video-content i{
    font-size: 40px;
    float: right;
    /* padding: 15px; */
    color: aquamarine;
    margin-left: 20px;
}

.video-content i:hover{
    /* font-size: 25px; */
    color: rgb(1, 250, 167);
}



/* ------------- Video-content Start -------------*/









/* section End */


/* -------------------------- footer Start  -------------------------- */

/* ------------- Icon-goes-up Start -------------*/
.icon-goes-up{
    display: none;
    position: fixed;
    bottom: 17px;
    right: 10px;
    z-index: 5;
}

.icon-goes-up i{
    font-size: 40px;
    color: rgb(131, 134, 134);
}

.icon-goes-up i:hover{
    font-size: 40px;
    color: teal;
}


/* ------------- Icon-goes-up End -------------*/


.footer-bottom {
    position: relative;
    bottom: 0;
}

.block-wall {
    width: 100%;
    height: 8px;
    background-color: #040F59;
}


.block {
    position: relative;
    left: 0;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 75px;
    text-align: center;
    color: white;
    font-size: 9px;
}

.namn {
    padding-top: 12px;
}

.plus {
    font-size: 14px;
}

.sajjan {
    color: rgb(122, 122, 122);
    font-size: 10px; 
}

.sajjan:hover {
    color: white;
    transition: 0.25s;
}


/* footer End */

